@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
  --Dark-Blue : hsl(209, 23%, 22%);
  --Dark-Very-Dark-Blue: hsl(207, 26%, 17%);
  --Light-Very-Dark-Blue: hsl(200, 15%, 8%);
  --Dark-Gray : hsl(0, 0%, 52%);
  --Very-Light-Gray:hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --Text-Dark-Mode:hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.main{
  min-height: calc(100vh - 65px);
  background-color: var(--Very-Light-Gray);
  padding: 3rem 4rem;
}
.main.dark{
  min-height: calc(100vh - 60px);
  background-color: var(--Dark-Very-Dark-Blue);
}
@media (max-width:992px){
  .main{
    padding: 2rem;
  }
}
@media (max-width:576px){
  .main{
    padding: 2rem;
  }
}